
.banner-area{
	/*background-image: linear-gradient(to right, #fe8c00 , #f83600);*/
	position: relative;
}

/*.banner-area .row{
	padding-top: 100px;
}*/

.banner-img{
	height: 400px;
}

.banner-content{
	text-align:center;
	padding-top: 50px;
}

.banner-content .hr-1 {
	width:43%;
	height: 4px;
	background-color: black;
}


/*.square-pattern{
	position: absolute;
}
.square-pattern img{
	position: absolute;
	right: 0;
	top: 350px!important;
	width:25%; 
}*/





	/*##############################################*/
				/*list your parking a btn*/
	/*#############################################*/

.list-parking-btn{
	color: black;
	font-weight: 600;
	font-size: 15px;
	padding: 20px 30px;
	background-color: #50b673;
	border: none;
	margin-top: 30px;
}

.list-parking-btn:hover{
	background-color: #2a823a;
    text-decoration: none !important;
    color: black !important;
}


.footer-list a:hover {
	text-decoration: none!important;
	color: black!important;
}
/*##############################################*/
			/*list your parking a btn*/
/*#############################################*/


.contact-form form input::placeholder{
	color: silver!important;
}

.contact-form .form-group{
	padding-top: 7px;
	padding-bottom: 7px;
}

.contact-form form{
	/*background-color: silver;*/
	border:1px solid silver;
	padding: 80px;
}


.listy-submit-btn{
	margin-top: 50px;
	padding: 12px 30px;
	border-radius: 5px;
	border:none;
	background-color: #50b673;
	z-index: 10!important;
	opacity: 1!important;
}

.listy-submit-btn:hover{
	background-color: #2a823a;
}






@media screen and (max-width: 767px){
	.contact-form form{
		padding: 40px!important;
	}
	
}




/*##############################################*/
			/* Footer Area */
/*#############################################*/

/*.footer-area{
	background-image: url("../../../img/footer.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding-top: 250px;
	padding-bottom: 30px;
	margin-top: 40px;
}

.get-started-content{
	padding-bottom: 60px;
}


.footer-area h3{
	color: white;
}


.footer-area p{
	color: white;
	font-size: 15px;
	letter-spacing: 3px;
	font-weight: 600;
}

.footer-area input{
	border-radius: 0px;
}

.footer-area .btn-primary{
	background-color: none;
	outline: none;
}

.email-button{
	background-color: #009e8a!important;
	border:none;
}

.email-button:hover{
	border:none;
}

.footer-list ul{
	margin: 0px;
	padding: 0px;
	padding-top: 15px;
}

.footer-list ul li{
	list-style: none;
	padding-top: 2px;
	padding-bottom: 2px;
}

.footer-list ul li a{
	font-size: 13px;
	color: white;
	text-decoration: none;
}

.footer-list a:hover {
	text-decoration: none!important;
	color: black!important;
}




.social-content{
	text-align: center;
	padding-top: 20px;
}
.social-content ul{
	margin: 0px;
	padding: 0px;
}

.social-content ul li{
	list-style: none;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	float: left;
}

.social-content ul li a{
	font-size: 13px;
	height: 35px;
	width: 35px;
	color: white;
	display: block;
	text-decoration: none;
	background-image: linear-gradient(#2559a9,#1b407a);
	border-radius: 50%;
}

.social-content ul li a i{
	font-size: 16px;
	line-height: 35px;
}

*/



/*##############################################*/
			/* Media Screen */
/*#############################################*/




@media screen and (max-width: 767px){
	.fixed-top {
	    position: fixed;
	    top: 0;
	    right: 0;
	    left: 0;
	    z-index: 1030;
	    background-color: #105e2e;
	}

	.navbar-toggler {
	    background-color: #2a823a;
	}
}



@media screen and (max-width: 575px) {
	.navbar-toggler {
	    background-color: #2a823a;
	}

	.fixed-top {
	    position: fixed;
	    top: 0;
	    right: 0;
	    left: 0;
	    z-index: 1030;
	    background-color: #105e2e;
	}

	.banner-img {
	    height: auto!important;

	}




	.footer-area{
		padding-top:270px;
		margin-top: 0px;
	}

	.get-started-content{
		padding-bottom: 10px;
	}

	.footer-list ul li{
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.social-content{
		text-align: center;
		padding-top: 20px;
	}
	.footer-list p{
		margin-bottom: 8px;
	}

	.footer-list ul{
		text-align: center;
	}

}
