
/*##############################################*/
				/*Navigation*/
/*#############################################*/
/*.head{
	background-color: #50b673;
	box-shadow: 0px 0px 10px 0px;
	transition: all 0.6s ease-in;
	width: 100%;
	height: 76px;
    position: fixed;
    z-index: 500;
}

header{
	width: 100%;
}

header .container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}



.navbar-nav li{
	height: 35px;
}

.navbar-nav a{
	font-size: 13px;
	color: black !important;
	display: block;
	text-align: center;
	font-weight: 600;
	padding: 10px 15px !important;
}

.link-a1:hover{
	color: #2EA94A!important;
	transition: all 0.3s ease-in;
}

.link-a2:hover{
	color: #2EA94A!important;
	transition: all 0.3s ease-in;
}

.link-a3:hover{
	color: #2EA94A!important;
	transition: all 0.3s ease-in;
}

.link-a4:hover{
	color: #2EA94A!important;
	transition: all 0.3s ease-in;
}

.link-a5:hover{
	color: #2EA94A!important;
	transition: all 0.3s ease-in;
}



.link-a6{
	color: white!important; 
	background-color: #2a823a;
	border-radius: 20px;
}

.link-a6:hover{
	color: black!important; 
	background-color: #50b673;
	box-shadow: 0 0 3px;
}

.navbar-brand img{
	height: 50px;
}
*/

/*##############################################*/
				/*banner area*/
/*#############################################*/
.banner-area{
	/*background-image: linear-gradient(to right, #fe8c00 , #f83600);*/
	position: relative;
}

/*.banner-area .row{
	padding-top: 100px;
}
*/
.banner-img{
	height: 400px;
}

.banner-content{
	text-align:center;
	padding-top: 50px;
}

.banner-content .hr-1 {
	width:43%;
	height: 4px;
	background-color: black;
}


/*.square-pattern{
	position: absolute;
}
.square-pattern img{
	position: absolute;
	right: 0;
	top: 350px!important;
	width:25%; 
}
*/

/*##############################################*/
				/*card*/
/*#############################################*/

.career .card{
	text-align: center;
}



/*##############################################*/
			/* Footer Area */
/*#############################################*/

/*.footer-area{
	background-image: url('../../../assets/img/footer.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding-top: 250px;
	padding-bottom: 30px;
	margin-top: 40px;
}

.get-started-content{
	padding-bottom: 60px;
}


.footer-area h3{
	color: white;
}


.footer-area p{
	color: white;
	font-size: 15px;
	letter-spacing: 3px;
	font-weight: 600;
}

.footer-area input{
	border-radius: 0px;
}

.footer-area .btn-primary{
	background-color: none;
	outline: none;
}

.email-button{
	background-color: #009e8a!important;
	border:none;
}

.email-button:hover{
	border:none;
}

.footer-list ul{
	margin: 0px;
	padding: 0px;
	padding-top: 15px;
}

.footer-list ul li{
	list-style: none;
	padding-top: 2px;
	padding-bottom: 2px;
}

.footer-list ul li a{
	font-size: 13px;
	color: white;
	text-decoration: none;
}

.footer-list a:hover {
	text-decoration: none!important;
	color: black!important;
}*/




.social-content{
	text-align: center;
	padding-top: 20px;
}
.social-content ul{
	margin: 0px;
	padding: 0px;
}

.social-content ul li{
	list-style: none;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	float: left;
}

.social-content ul li a{
	font-size: 13px;
	height: 35px;
	width: 35px;
	color: white;
	display: block;
	text-decoration: none;
	background-image: linear-gradient(#2559a9,#1b407a);
	/*padding: 10px;*/
	border-radius: 50%;
}

.social-content ul li a i{
	font-size: 16px;
	line-height: 35px;
}





/*##############################################*/
			/* Media Screen */
/*#############################################*/


@media screen and (max-width: 767px) {
	.fixed-top {
	    position: fixed;
	    top: 0;
	    right: 0;
	    left: 0;
	    z-index: 1030;
	    background-color: #105e2e;
	}
	
	.navbar-toggler {
	    background-color: #2a823a!important;
	}

}


@media screen and (max-width: 575px) {

	.banner-img{
		height: auto!important;
	}
	.navbar-toggler {
	    background-color: #2a823a;
	}

	.fixed-top {
	    position: fixed;
	    top: 0;
	    right: 0;
	    left: 0;
	    z-index: 1030;
	    background-color: #105e2e;
	}


	.footer-area{
		padding-top:270px;
		margin-top: 0px;
	}

	.get-started-content{
		padding-bottom: 10px;
	}

	.footer-list ul li{
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.social-content{
		text-align: center;
		padding-top: 20px;
	}
	.footer-list p{
		margin-bottom: 8px;
	}

	.footer-list ul{
		text-align: center;
	}


}



